<%- include("template/header") %>
<%- include("template/navbar") %>
<%- include("template/aside", {image:image}) %>

 <!-- Content Wrapper. Contains page content -->
 <div class="content-wrapper">
   <!-- Content Header (Page header) -->
   <%- include("template/breadcrumb", {module: 'Dashboard'}) %>
   <section class="content-header">
     <div class="container-fluid">
       <div class="row mb-2">
         <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                  Welcome <%= userName %>
                </div>
                <div class="card-body">
                  <h5 class="card-title">Special title treatment</h5>
                  <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Amet harum consequuntur voluptatem placeat commodi porro accusamus eos vitae deleniti quod quae, culpa pariatur quia eum? Nisi est natus illo cupiditate, quidem non eveniet, consequuntur nesciunt repudiandae quos delectus error veritatis facere pariatur quisquam, sunt explicabo culpa aliquid labore deleniti accusamus fugiat iusto possimus! Assumenda earum debitis consequatur, sit laudantium tempore animi ut quibusdam aspernatur voluptatum dolores atque blanditiis fugit, perspiciatis ratione ipsum! Alias nam repudiandae, voluptas laudantium tempora quam nisi voluptates excepturi dolorum repellendus reprehenderit quas odit? Molestias aperiam, corporis officiis, aspernatur, cumque quibusdam doloribus perspiciatis fuga fugiat eius dolorem nihil enim temporibus qui modi nesciunt accusantium. Error sequi fugit soluta rerum, dicta sunt culpa maiores hic qui expedita, voluptatem itaque labore quidem odio. Veritatis deserunt dolorem facere, voluptatem sint expedita quidem modi doloremque blanditiis qui, quae, aperiam voluptas repellat explicabo nesciunt vel nostrum saepe sed officia autem nisi? Ea blanditiis illo nostrum voluptatem hic, atque libero inventore harum et quae eligendi optio placeat alias aut quisquam officia nulla rerum dolor. Rem quis, ratione quibusdam, fugit vel magnam ea suscipit aspernatur, quia dolor in numquam voluptatum? Hic repellendus quod officiis corrupti consequatur, neque consectetur ad cumque in corporis. Animi, perferendis!</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
         </div>
       </div>
     </div><!-- /.container-fluid -->
   </section>
   <!-- /.content -->
 </div>
 <!-- /.content-wrapper -->

 <%- include("template/footer") %>
